---
import IndexPage from "@/layouts/IndexPage.astro";
import {comment} from "@/consts";
import {t} from '@/i18n/utils'
---

<IndexPage frontmatter={{comment: comment.enable, donate: false,}}>
  <div class="flex text-xl underline-offset-4 font-bold">
    {t('message.welcome')}
  </div>
  <div>
    {t('message.welcomeTips')}
  </div>
</IndexPage>
