---
import IndexPage from "src/layouts/IndexPage.astro";
import {comment} from "../../consts";
---

<IndexPage frontmatter={{comment: comment.enable, donate: false,}}>
  <div class="flex text-xl underline-offset-4 font-bold">
    欢迎留言
  </div>
  <div>
    既然来了就留个脚印吧！
  </div>
</IndexPage>
