---
import IndexPage from "@/layouts/IndexPage.astro";
import Friends from "@/components/Friends.astro";
import  {friendshipLinks} from "@/consts";
---

<IndexPage frontmatter={{ comment: true }}>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
    {friendshipLinks ? friendshipLinks.map((friend) => <Friends {...friend} />) : ""}
  </div>
</IndexPage>
