---
import IndexPage from "src/layouts/IndexPage.astro";
import {Search} from '../components/Search'
import {getCollectionByName} from "../utils/getCollectionByName";
const posts = await getCollectionByName("blog");
import {t} from '../i18n/utils'
---

<IndexPage>
  <div class="text-2xl mb-4 text-skin-base">{t('search.search')}</div>
  <Search client:only="solid-js" posts={posts}/>
</IndexPage>
