---
import ActivityPostDate from "./ActivityPostDate.astro";
const { data, body, url } = Astro.props.post;
const { index } = Astro.props;
import dayjs from "dayjs";
import tz from "dayjs/plugin/timezone";
import relativeTime from "dayjs/plugin/relativeTime";
import "dayjs/locale/zh-cn";
dayjs.extend(tz);
dayjs.extend(relativeTime);
dayjs.tz.guess(); // 猜测用户时区
dayjs.locale("zh-cn");
---

<div>
  <p
    class="break-all text-skin-base first-letter cursor-default tracking-wide first-letter:font-semibold first-letter:text-2xl"
  >
    {
      body.length > 140
        ? body.substring(0, 140).replace(/#/gi, "") + "..."
        : body
    }
  </p>
  <div class="flex items-center mt-2 text-sm">
    <ActivityPostDate date={data.date} index={index} />
    <a class="text-skin-active font-semibold" href={url}>阅读全文</a>
  </div>
</div>
