---
import FeedPostDate from "./FeedPostDate.astro";
const {data, body, slug} = Astro.props.post;
const {index} = Astro.props;
import {t} from '../i18n/utils'
import getUrl from "../utils/getUrl";
---

<div class="mt-2 mb-4">
  <p
    class="break-all first-letter tracking-wide first-letter:font-semibold first-letter:text-2xl line-clamp-2"
  >
    {
      body.replace(/^#+/gm, "").replace(/!?\[.*?\]\(.*?\)/g, "")
    }
  </p>
  <p class="flex items-center justify-between text-sm">
    <FeedPostDate date={data.date} index={index}/>
    <a class="hover:text-skin-active text-sm border rounded py-1 px-2" href={getUrl("/feed/") + slug}>{t('home.readMore')}</a>
  </p>
</div>
