---
const { date, index } = Astro.props;
---

<feed-post-date class={date ? "mr-2" : ""} data-date={date} data-index={index}>
  <span class="postTimeEle"></span>
</feed-post-date>

<script>
  import dayjs from "dayjs";
  import relativeTime from "dayjs/plugin/relativeTime";
  import "dayjs/locale/zh-cn";
  dayjs.extend(relativeTime);
  dayjs.locale("zh-cn");
  class FeedPostDate extends HTMLElement {
    constructor() {
      super();
      // 从 data（数据）属性中读取消息。
      const date = this.dataset.date;
      const index = this.dataset.index;

      let timeSpan = document.getElementsByClassName("postTimeEle");
      let postDateFromNow = date ? dayjs(date).fromNow() : dayjs().format("YYYY-MM-DD");
      timeSpan[index].innerHTML = `发表于：${postDateFromNow}`;
    }
  }
  customElements.define("feed-post-date", FeedPostDate);
</script>
