---
import {site, config} from "../consts";
---

<div class="footer container p-4">
  {
    config.busuanzi && (
      <div class="flex items-center justify-center text-skin-base">
    <span id="busuanzi_container_site_pv">
      总访问量<span id="busuanzi_value_site_pv"></span>次
    </span>
        <div class="divider-vertical"></div>
        <span id="busuanzi_container_site_uv">
      总访客数<span id="busuanzi_value_site_uv"></span>人次
    </span>
      </div>
    )
  }
  <div class="flex items-center flex-wrap justify-center mb-4 text-skin-base">
    <div>
      <span class="cursor-default">Copyright</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">2024</span>
    </div>
    {
      site.beian && (
        <div class="divider-vertical"/>
        <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn/">
          {site.beian}
        </a>
      )
    }
    <div class="divider-vertical"></div>

    <a href="/sitemap-0.xml">站点地图</a>
  </div>
</div>

<style>
  .footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
