---
import {site, analytics} from "@/consts";
import {t} from '@/i18n/utils'
import getUrl from "@/utils/getUrl";
let shouldLoadBusuanzi = analytics.enable && analytics.busuanzi
---

<div class:list={[shouldLoadBusuanzi ? 'h-16' : 'h-10', 'container p-1 absolute left-0 bottom-0']}>
  {
    shouldLoadBusuanzi && (
      <div class="flex items-center justify-center text-skin-base">
    <span id="busuanzi_container_site_pv">
      {t('footer.busuanziSitePV')}<span id="busuanzi_value_site_pv"></span>{t('footer.busuanziSitePVUnit')}
    </span>
        <div class="divider-vertical"></div>
        <span id="busuanzi_container_site_uv">
      {t('footer.busuanziSiteUV')}<span id="busuanzi_value_site_uv"></span>{t('footer.busuanziSiteUVUnit')}
    </span>
      </div>
    )
  }
  <div class="flex items-center flex-col flex-wrap justify-center mb-4 text-skin-base first:mb-0 sm:flex-row">
    <div>
      <span class="cursor-default">Copyright</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">{new Date().getFullYear()}</span>
    </div>
    {
      site.beian && (
        <div class="divider-vertical hidden sm:block"></div>
        <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn/">
          {site.beian}
        </a>
      )
    }
    <div class="divider-vertical"></div>
    <a href={getUrl("/sitemap-0.xml")}>{t('footer.sitemap')}</a>
  </div>
</div>
