---
import {site, config} from "../consts";
import {t} from '../i18n/utils'
---

<div class="footer container p-4">
  {
    config.busuanzi && (
      <div class="flex items-center justify-center text-skin-base">
    <span id="busuanzi_container_site_pv">
      {t('footer.busuanziSitePV')}<span id="busuanzi_value_site_pv"></span>{t('footer.busuanziSitePVUnit')}
    </span>
        <div class="divider-vertical"></div>
        <span id="busuanzi_container_site_uv">
      {t('footer.busuanziSiteUV')}<span id="busuanzi_value_site_uv"></span>{t('footer.busuanziSiteUVUnit')}
    </span>
      </div>
    )
  }
  <div class="flex items-center flex-wrap justify-center mb-4 text-skin-base">
    <div>
      <span class="cursor-default">Copyright</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">2024</span>
    </div>
    {
      site.beian && (
        <div class="divider-vertical"/>
        <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn/">
          {site.beian}
        </a>
      )
    }
    <div class="divider-vertical"></div>

    <a href="/sitemap-0.xml">{t('footer.sitemap')}</a>
  </div>
</div>

<style>
  .footer {
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
