---
import { site as site } from "$/config.yml";
const { title = site.title, description = site.description, mathjaxEnable } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.svg" />
  <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script is:inline src="/toggle-theme.js"></script>
  {mathjaxEnable && <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [
          ["$", "$"],
          ["\\(", "\\)"],
        ],
      },
    });
  </script>
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>}
</head>
