---
import PostViewTitle from '../components/PostViewTitle.astro'
import getUrl from "../utils/getUrl";
const {blog} = Astro.props;
const {data, slug} = blog
---

<div class="my-5 first:mt-0">
  <PostViewTitle
    slug={getUrl("/blog/") + slug}
    {...data}
  >
  </PostViewTitle>
  <p class="break-all text-skin-base line-clamp-3">
    {
      data.description ? data.description : ''
    }
  </p>
</div>
<div class="divider-horizontal-mini"></div>

