---
import PostViewTitle from '../components/PostViewTitle.astro'
const {blog} = Astro.props;
const {data, slug} = blog
---

<div class="pt-2">
  <PostViewTitle
    slug={`/blog/${slug}`}
    {...data}
  >
  </PostViewTitle>
  <p class="break-all text-skin-base mb-8">
    {
      data.description ? data.description : ''
    }
  </p>
</div>
