---
import dayjs from "dayjs";
import { site as site } from "$/config.yml";
const { title, author = site.author, date, url } = Astro.props;
---

<div class="border-l-4 my-4 p-4 border-l-skin-base bg-skin-card text-skin-base">
  <div>本文标题：{title}</div>
  <div>文章作者：{author}</div>
  <div>发布时间：{dayjs(date).format("YYYY-MM-DD")}</div>
  <div>
    原始链接：<a href={site.siteUrl + url}>{site.siteUrl + url}</a>
  </div>
  <div>
    版权声明：本作品采用<a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      >「署名-非商业性使用-相同方式共享 4.0 国际」</a
    >许可协议进行许可。
  </div>
</div>
