---

---

<button type="button" id="scrollToTopBtn" class="header-btn fixed bottom-4 right-2 hidden" title="scroll to top">
  <i class="ri-arrow-up-line"></i>
</button>

<script>
  let scrollToTopBtn = document.getElementById("scrollToTopBtn");

  // 监听窗口滚动事件
  window.onscroll = function () {
    // 显示/隐藏按钮根据滚动位置
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      scrollToTopBtn.classList.add('block')
      scrollToTopBtn.classList.remove('hidden')
    } else {
      scrollToTopBtn.classList.add('hidden')
      scrollToTopBtn.classList.remove('block')
    }
  };
  // 获取按钮的引用
  scrollToTopBtn.addEventListener("click", () => {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  })
</script>

