---

---
<button type="button" id="aside-btn" class="header-btn" title="Open Aside Bar" aria-label="auto" aria-live="polite">
  <i class="ri-user-line"/>
</button>
<button type="button" id="aside-close-btn" class="header-btn hidden" title="Close Aside Bar" aria-label="auto" aria-live="polite">
  <i class="ri-close-fill"/>
</button>

<div id="blog-aside" class="absolute top-16 bg-skin-fill right-0 blog-aside hidden">

</div>

<script>
  let showAsideBtn = document.getElementById("aside-btn");
  let closeAsideBtn = document.getElementById("aside-close-btn");
  let menuIcon = document.getElementById("menu-icon");
  let menuCloseIcon = document.getElementById("menu-icon-close");
  let menu = document.getElementById("mobile-menu");

  let personalInfo = document.getElementById("personal-info");
  showAsideBtn.addEventListener("click", () => {
    if(menuIcon && menuIcon.classList.contains('hidden')){
      toggleHidden([menuIcon, menuCloseIcon, menu])
    }
    toggleHidden([showAsideBtn, closeAsideBtn, personalInfo])
  });
  closeAsideBtn.addEventListener("click", () => {
    toggleHidden([closeAsideBtn, personalInfo, showAsideBtn])
  });
  function toggleHidden(arr) {
    arr.forEach(item => {
      item.classList.toggle("hidden");
    });
  }
</script>
