---
import {t} from '../i18n/utils'
---
<div
  id="toc"
  class="shadow-lg rounded-lg my-4 py-2 px-2 bg-skin-card sticky top-20"
>
  <div class="flex items-center text-lg border-b border-b-gray-300 mb-1">
    <i class="ri-list-check text-2xl mr-1"/>
    {t('blog.tableOfContent')}
  </div>
  <div class="overflow-auto">
    <div class="toc-container"/>
  </div>
</div>

<style>
  .post-title:hover {
    outline: 0;
    color: #cc7a00;
    text-shadow: 1px 1px 1px #ffd147;
  }

  .toc_container {
    overflow-y: scroll;
    /* webkit */
    /* firefox */
    scrollbar-width: none;
    /* ie */
    -ms-overflow-style: none;
  }

  .toc_container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .toc_container a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>

<script>
  import * as tocbot from "tocbot";

  tocbot.init({
    tocSelector: ".toc-container",
    contentSelector: ".markdown-body",
    headingSelector: "h1,h2,h3",
    hasInnerContainers: true,
    headingsOffset: 80,
    scrollSmoothOffset: -80,
    scrollSmoothDuration: 200,
    collapseDepth: 3,
  });
  let toc = document.getElementById("toc");
  if (toc) {
    tocbot.refresh();
    let tocContainer = document.getElementsByClassName('toc-container')
    if (tocContainer[0].textContent.replace(/\s/g, '') === '') {
      toc.classList.toggle('hidden')
    } else {
      toc.classList.add('block')
    }
  }
</script>
