---

---

<div id="waline"></div>

<script>
  import {init} from "@waline/client";
  import {comment} from "../consts";
  import "@waline/client/style";

  let walineDoc = document.getElementById("waline");
  if (comment.enable && comment.type === "waline" && walineDoc) {
    init({
      el: "#waline",
      comment: true,
      path: window.location.pathname.replace(/\/$/, ""),
      serverURL: comment.walineConfig.serverUrl,
      lang: comment.walineConfig.lang,
      pageSize: comment.walineConfig.pageSize,
      pageview: comment.walineConfig.pageview, // 浏览量统计
      reaction: comment.walineConfig.whiteList.includes(location.pathname)
        ? false
        : comment.walineConfig.reaction, // 开启反应
      requiredMeta: comment.walineConfig.requiredMeta,
      dark: 'html[data-theme="dark"]',
    });
  }
</script>
