---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Profile from '../components/Profile.astro'
import BlogAside from '../components/BlogAside.astro'
import Comment from '../components/Comment.astro'
import Donate from '../components/Donate.astro'
import {donate, comment, config} from "../consts";

const {frontmatter = {comment: false, donate: false}} = Astro.props
---

<html lang={config.lang}>
<BaseHead/>

<body class="bg-skin-secondary relative">
<Header/>
<main class="container p-4 pt-20 text-skin-base pb-32 min-h-full relative" id="app">
  <div class="grid grid-cols-4 gap-8">
    <div class="col-span-4 xl:col-span-3 space-y-6">
      <slot></slot>
      {
        donate.enable && frontmatter.donate &&
        <Donate></Donate>
      }
      {
        comment.enable && frontmatter.comment &&
        <Comment></Comment>
      }
    </div>
    <div>
      <div class="hidden xl:block space-y-6">
        <Profile></Profile>
        <BlogAside></BlogAside>
      </div>
    </div>
  </div>
  <Footer/>
</main>
</body>
<script>
  document.body.querySelectorAll("a").forEach(item => {
    item.setAttribute("rel", "nofollow noreferrer");
  });
</script>
</html>
